.navbar-bran {
  text-decoration: none;
  color: #fff;
}

.navbar-bran:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

body {
  background: url(./images/imagen1.jpg) no-repeat fixed;
  background-size: cover;
}

.fondo-two {
  background: url(./images/imagen2.jpg) no-repeat fixed;
  background-size: cover;
}

h1,
p,
label {
  text-shadow: #fff 2px 2px 5px;
  color: #222;
}

.nav {
  background-color: #222;
  opacity: 0.9;
}
.div {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.color {
  color: #222;
}
.color:hover {
  color: #222;
  border-bottom: 3px solid #222;
}
.bg {
  background-color: #fff;
  opacity: 0.9;
}
